<!DOCTYPE html>
<html>
<head>
  <title>dzcc admin</title>
  <%= stylesheet_link_tag "scaffolds" %>
  <%= stylesheet_link_tag "system/system", :media => "all" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "kindeditor" %>
  <%= csrf_meta_tags %>
</head>
<body id="store">
	<div id="banner">
		<%= @title || "dzcc  admin" %>
	</div>
	<div id="columns">
		<div id="side">
          <% if session[:admin_login_id] -%>
              <%= link_to_unless_current "Home", :action => "index", :controller => "system/admin" %><br />
              <%= link_to_unless_current "porduct", products_path %><br />
              <%= link_to_unless_current "menu_list", menu_lists_path %><br />

              <%= link_to_unless_current "退出管理", admin_logout_path, :method => :delete  %>
          <% end -%>
		</div>
		<div id="main">
			<%= yield %>
		</div>
	</div>
</body>
</html>
